.h2 {
    margin-bottom: 5px;
  padding: 0px 0px 0px 0px;
  font-family: "haboro-contrast-normal";
  font-weight: normal;
  font-size: 35px;
}


.bergen__container {
    padding: 20px 40px 20px 40px;
}
